<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.returntolife.jjcode.mydemolist">

    <permission
        android:name="com.returntolife.myprovider.permission"
        android:protectionLevel="normal" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:name=".AppApplication"
        android:theme="@style/AppTheme">
        <activity android:name=".main.activity.MainActivity">
        </activity>
        <activity android:name=".demo.widget.putorefresh.PutoRefreshActivity" />
        <activity android:name=".demo.widget.drawlockscreen.DrawLockScreenActivity" />
        <activity android:name=".demo.function.resumedownload.ResumeDownloadActivity" />
        <activity android:name=".demo.image.InvertedImageActivity" />
        <activity android:name=".demo.image.PickingPictureActivity" />
        <activity android:name=".demo.widget.MDWidgetActivity" />
        <activity android:name=".demo.widget.CoordinatorlayoutActivity" />
        <activity android:name=".demo.widget.BottomSheetActivity" />
        <activity android:name=".demo.widget.FloatingActionButtonActivity" />
        <activity android:name=".demo.function.changetheme.ChangeThemeActivity" />
        <activity android:name=".demo.function.mycontentprovider.ContentProviderClientActivity" />
        <activity android:name=".demo.widget.adrecyclerview.AdListActivity"/>
        <activity android:name=".demo.widget.motionevent.MotionEventActivity"/>
        <activity android:name=".demo.widget.superedittext.SuperEditTextActivity"/>
        <activity android:name=".demo.function.mycontentprovider.MiMeTestActivity" >
            <intent-filter>
                <action android:name="harvic.test.qijian" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.dir/harvic.first" />
            </intent-filter>
        </activity>
        <activity android:name=".demo.widget.scaleview.ScaleViewActivity"
            android:screenOrientation="landscape"/>

        <activity android:name=".demo.widget.recyclerview.CardLayoutActivity" />
        <activity android:name=".AppPermissionActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".demo.function.aidl.AIDLClientAcitvity" />
        <activity android:name=".demo.function.AnnotateMvp.AnnotateActivity" />
        <activity android:name=".demo.function.multiItem.MultiItemActivity" />
        <activity android:name=".demo.function.aidl.binderpool.AIDLBinderPoolClientAcitvity" />
        <activity android:name=".demo.function.AspectButton.AspectButtonActivity" />
        <activity android:name=".demo.function.mvvm.MvvmDemoActivity" />

        <service android:name=".demo.function.resumedownload.ResumeDownloadService"/>
        <service android:name=".demo.function.aidl.AIDLService"
            android:process="com.returntolife.jjcode.mydemolist.aidlservice"/>
        <service android:name=".demo.function.aidl.binderpool.AIDLBinderPoolService"
            android:process="com.returntolife.jjcode.mydemolist.aidlpoolservice"/>

        <provider
            android:name=".demo.function.mycontentprovider.MyContentProvider"
            android:authorities="com.returntolife.myprovider"
            android:exported="true"
            android:permission="com.returntolife.myprovider.permission" />
    </application>

</manifest>