<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.returntolife.jjcode.mydemolist">

    <permission
        android:name="com.returntolife.myprovider.permission"
        android:protectionLevel="normal" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>



    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:name=".AppApplication"
        android:theme="@style/AppTheme">
        <activity android:name=".main.activity.MainActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".demo.widget.putorefresh.PutoRefreshActivity" />
        <activity android:name=".demo.widget.drawlockscreen.DrawLockScreenActivity" />
        <activity android:name=".demo.function.resumedownload.ResumeDownloadActivity" />
        <activity android:name=".demo.image.InvertedImageActivity" />
        <activity android:name=".demo.image.PickingPictureActivity" />
        <activity android:name=".demo.widget.MDWidgetActivity" />
        <activity android:name=".demo.widget.CoordinatorlayoutActivity" />
        <activity android:name=".demo.widget.BottomSheetActivity" />
        <activity android:name=".demo.widget.FloatingActionButtonActivity" />
        <activity android:name=".demo.function.changetheme.ChangeThemeActivity" />
        <activity android:name=".demo.function.mycontentprovider.ContentProviderClientActivity" />
        <activity android:name=".demo.widget.adrecyclerview.AdListActivity"/>
        <activity android:name=".demo.widget.motionevent.MotionEventActivity"/>
        <activity android:name=".demo.widget.superedittext.SuperEditTextActivity"/>
        <activity android:name=".demo.widget.NestedScrollingDemoActivity"/>
        <activity android:name=".demo.function.mycontentprovider.MiMeTestActivity" >
            <intent-filter>
                <action android:name="harvic.test.qijian" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.dir/harvic.first" />
            </intent-filter>
        </activity>
        <activity android:name=".demo.widget.scaleview.ScaleViewActivity"
            android:screenOrientation="landscape"/>

        <activity android:name=".demo.widget.recyclerview.CardLayoutActivity" />
        <activity android:name=".AppPermissionActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".demo.function.aidl.AIDLClientActivity" />
        <activity android:name=".demo.function.AnnotateMvp.AnnotateActivity" />
        <activity android:name=".demo.function.multiItem.MultiItemActivity" />
        <activity android:name=".demo.function.aidl.binderpool.AIDLBinderPoolClientActivity" />
        <activity android:name=".demo.function.AspectButton.AspectButtonActivity" />
        <activity android:name=".demo.function.mvvm.MvvmDemoActivity" />
        <activity android:name=".demo.function.baiduai.ImageSearchActivity" />
        <activity android:name=".demo.function.section.SectionActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".demo.function.test.TestActivity" />
        <activity android:name=".demo.function.transition.TransitionActivity" />
        <activity android:name=".demo.function.transition.SlideTransitionActivity" />
        <activity android:name=".demo.function.transition.ExplodeTransitionActivity" />
        <activity android:name=".demo.function.transition.FadeTransitionActivity" />
        <activity android:name=".demo.function.transition.ShareElementActivity" />
        <activity android:name=".demo.function.transition.TransitionByFragmentActivity" />
        <activity android:name=".demo.function.transition.ShareElementByFragmentActivity" />
        <activity android:name=".demo.function.imageslider.ImageSliderActivity" />
        <activity android:name=".demo.function.accessibility.AccessibilityActivity" />
        <activity android:name=".demo.function.coroutine.CoroutineTest1" />
        <activity android:name=".demo.function.databinding.DataBindingActivity" />
        <activity android:name=".demo.function.databinding.DataBindingFActivity" />
        <activity android:name=".demo.function.databinding.DataBindingAdapterActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".demo.widget.customview.CustomViewActivity"/>
        <service android:name=".demo.function.resumedownload.ResumeDownloadService"/>
        <service android:name=".demo.function.aidl.AIDLService"
            android:process="com.returntolife.jjcode.mydemolist.aidlservice"/>
        <service android:name=".demo.function.aidl.binderpool.AIDLBinderPoolService"
            android:process="com.returntolife.jjcode.mydemolist.aidlpoolservice"/>
        <service android:name=".demo.function.accessibility.MyAccessibilityService"
            android:label="@string/accessibility_tip"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <!-- 通过xml文件完成辅助功能相关配置，也可以在onServiceConnected中动态配置 -->
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_config" />
        </service>

        <provider
            android:name=".demo.function.mycontentprovider.MyContentProvider"
            android:authorities="com.returntolife.myprovider"
            android:exported="true"
            android:permission="com.returntolife.myprovider.permission" />
    </application>

</manifest>