<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.returntolife.jjcode.mydemolist">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".DemoListActivity" />
        <activity android:name=".putorefresh.PutoRefreshActivity" />
        <activity android:name=".drawlockscreen.DrawLockScreenActivity" />
        <activity android:name=".resumedownload.ResumeDownloadActivity" />
        <activity android:name=".editimage.InvertedImageActivity" />
        <activity android:name=".editimage.PickingPictureActivity" />
        <activity android:name=".mdwidget.MDWidgetActivity" />
        <activity android:name=".mdwidget.CoordinatorlayoutActivity" />
        <activity android:name=".mdwidget.BottomSheetActivity" />

        <service android:name=".resumedownload.ResumeDownloadService"/>
    </application>

</manifest>